{% extends 'invmanager/layout.html' %}

{% block content %}
    <div class="container">
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 p-3 ">
                <p>Welcome to Beundbuddy! To start using Beunbuddy, please create an account below!</p>
                <h2>Sign up</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input name="invite_token" type="hidden" value="{{ invite_token }}">
                    <button type="submit" class="btn btn-primary">Sign up</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}