{% extends 'invmanager/layout.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <h4>Assets</h4>
        </div>
        <div  id="tileList" class="row">
            {% if latest_asset_list %}

                {% for asset in latest_asset_list %}
                    {% include 'invmanager/tiles/asset.html' with asset=asset %}
                {% endfor %}

            {% else %}
                <p>No assets are available.</p>
            {% endif %}
        </div>

    </div>
{% endblock %}