{% extends 'invmanager/layout.html' %}

{% block subnav %}
    <div class="d-flex justify-content-center w-100 sticky-top" style="z-index: 3">
        <div class="">
            <div class="btn-group  btn-group-lg" role="group" aria-label="Add new tile">
                <button type="button" class="btn btn-dark">Add new: </button>
                <a href="{% url 'create_project' %}" class="btn btn-outline-dark">Project</a>
                <a href="{% url 'create_asset' %}" class="btn btn-outline-dark">Asset</a>
                <a href="{% url 'create_note' %}" class="btn btn-outline-dark">Note</a>
            </div>

        </div>
    </div>
{% endblock %}

{% block content %}

    <div class="container">

        <div id="tileList" class="row flex-grow">
            {% if tiles %}

                {% for item, type in tiles %}
                    {% if type == 'Asset' %}
                        {% include 'invmanager/tiles/asset.html' with asset=item %}
                    {% elif type == 'InventoryNote' %}
                        {% include 'invmanager/tiles/note.html' with note=item %}
                    {% elif type == 'Project' %}
                        {% include 'invmanager/tiles/project.html' with project=item %}
                    {% endif %}
                {% endfor %}

            {% else %}
                <p>No items are available. Add one :)</p>
            {% endif %}
        </div>

    </div>
{% endblock %}