{% extends 'invmanager/layout.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <h4>Notes</h4>
        </div>
        <div  id="tileList" class="row">
            {% if latest_note_list %}

                {% for note in latest_note_list %}
                    {% include 'invmanager/tiles/note.html' with note=note %}
                {% endfor %}

            {% else %}
                <p>No notes are available.</p>
            {% endif %}
        </div>

    </div>
{% endblock %}