{% extends 'invmanager/layout.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <h4>Projects</h4>
        </div>
        <div  id="tileList" class="row">
            {% if latest_project_list %}

                {% for project in latest_project_list %}
                    {#                    TODO build in object wrapper in views with built in width#}
                    {% include 'invmanager/tiles/project.html' with project=project %}
                {% endfor %}

            {% else %}
                <p>No projects are available.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}