{% extends "invmanager/layout.html" %}

{% block content %}
    <div class="container">
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 d-flex w-100 p-3 bb-purple">
                <div class="media align-items-end mr-auto">
                    <div class="profile mr-3"><img
                            src="{{ asset.img_url }}" alt="asset thumbnail"
                            width="256" class="rounded mb-2 img-thumbnail">
                    </div>
                    <div class="mr-auto ml-4">
                        <form action="{% url 'edit_asset' asset.id %}" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                {% csrf_token %}
                                {{ form.media }}
                                {{ form }}
                            </div>

                            <input type="submit" class="btn btn-secondary" value="Submit">
                        </form>
                    </div>
                </div>
                <div class="justify-content-end">
                    <form action="{% url 'delete_asset' asset.id %}"
                          onsubmit="return confirm('Are you sure you want to delete this project?');" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="close" aria-label="Close note"><span
                                aria-hidden="true">&times;</span>
                        </button>
                    </form>
                </div>

            </div>

            <div class="py-4 px-4">
                {% if project %}
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Used in</h5>
                    </div>
                    <div class="row">
                        {% include 'invmanager/tiles/project.html' with project=project %}
                    </div>
                {% endif %}

                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Activity</h5>
                </div>
                <div class="row d-flex flex-row px-4 bb-history justify-content-center">
                    {% for event in asset.history.all %}
                        <div class="">
                            <div class="bb-timeline mx-auto bb-history-{{ event.history_type }}">{{ event.history_type }}

                            </div>
                            <div class="pt-3 px-5 bb-timeline-bottom">{{ event.history_change_reason| default:'Changed' }}</div>
                        </div>
                    {% endfor %}
                </div>

                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">Description</h5>
                </div>
                <div id="description">
                    {{ asset.description|safe }}
                </div>

            </div>


        </div>
    </div>
{% endblock %}