{% extends "invmanager/layout.html" %}

{% block content %}

    <div class="container">
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 d-flex w-100 p-3 bb-purple">
                <div class="justify-content-left col-2">
                    <h3>New asset</h3>

                </div>
                <div class="media align-items-end mr-auto">

                    <div class="mr-auto ml-4">
                        <form action="{% url 'create_asset' %}" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                {% csrf_token %}
                                {{ form.media }}
                                {{ form }}
                            </div>

                            <input type="submit" class="btn btn-secondary" value="Submit">
                        </form>
                    </div>
                </div>


            </div>


        </div>
    </div>
{% endblock %}