{% extends 'invmanager/layout.html' %}

{% block content %}
    <div class="container">
        <div class="row">

            <div class="bb-note-large d-flex p-3">
                <div class="justify-content-left col-2">
                    <h3>New note</h3>

                </div>
                <div class="mr-auto ml-4">
                    <form action="{% url 'create_note' %}" method="post">
                        <div class="form-group">
                            {% csrf_token %}
                            {{ form.media }}
                            {{ form }}
                        </div>

                        <input type="submit" class="btn btn-primary" value="Submit">
                    </form>
                </div>

            </div>


        </div>

    </div>
{% endblock %}