{% extends 'invmanager/layout.html' %}

{% block content %}
    <div class="container">
        <div class="row">


            <div class="bb-note-large d-flex p-3">
                <div class="justify-content-left col-4">
                    <h3><a href="{% url 'note' note.id %}"
                           style="color: #212529">{% firstof note.project note.item note.tool %}</a></h3>
                    <p>Status: {{ note.status|default:'none' }} </p>

                    {% if note.tags %}
                        <div class="flex flex-wrap">
                        {% for tag in note.tags %}
                            <a href="{% url 'tag' tag %}" class="btn btn-outline-dark" role="button">{{ tag }}</a>
                        {% endfor %}
                        </div>
                    {% else %}
                        <a id="noTagsAdded" href="{% url 'edit_note' note.id %}" class="btn btn-secondary" role="button">Add tags...</a>
                    {% endif %}
                </div>
                <div class="mr-auto ml-4">
                    <form action="edit" method="post">
                        <div class="form-group">
                            {% csrf_token %}
                            {{ form.media }}
                            {{ form }}
                        </div>

                        <input type="submit" class="btn btn-secondary" value="Submit">
                    </form>
                </div>
                <div class="justify-content-right">
                    <form action="{% url 'delete_note' note.id %}"
                          onsubmit="return confirm('Are you sure you want to delete this note?');">
                        {% csrf_token %}
                        <button type="submit" class="close" aria-label="Close note"><span
                                aria-hidden="true">&times;</span>
                        </button>
                    </form>
                </div>

            </div>


        </div>

    </div>
{% endblock %}