{% extends "invmanager/layout.html" %}

{% block content %}
    <div class="container">
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 p-3 pb-4 bg-dark">
                <div class="media align-items-end profile-header">
                    <div class="profile mr-3">
                        <img
                            src="{{ user.userprofile.img_url }}" alt="..."
                            width="256" class="rounded mb-2 img-thumbnail">
                        <a href="#"
                           class="btn btn-dark btn-sm btn-block">Edit
                            profile</a></div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0  mb-0">{{ user.username|title }}</h4>
                    </div>
                </div>
            </div>


            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Settings</h5>
                </div>
                <div class="row">
                    <form action="{% url 'edit_profile' %}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            {% csrf_token %}
                            {{ form.media }}
                            {{ form }}
                            {{ profile_form.media }}
                            {{ profile_form }}
                        </div>

                        <input type="submit" class="btn btn-secondary" value="Submit">
                    </form>
                </div>

            </div>
        </div>
    </div>
{% endblock %}