

{% extends "invmanager/layout.html" %}

{% block content %}
    <div class="container">
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 p-3 bb-orange ">
                <div class="media align-items-end ">
                    <div class="profile mr-3"><img
                            src="{{ project.img_url }}" alt="..."
                            width="256" class="rounded mb-2 img-thumbnail"></div>
                    <div class="media-body mb-5">
                        <form action="edit" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                {% csrf_token %}
                                {{ form.media }}
                                {{ form }}
                            </div>

                            <input type="submit" class="btn btn-secondary" value="Submit">
                        </form>
                    </div>
                </div>
            </div>

            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Activity</h5>
                </div>
                <div class="row d-flex flex-row px-4 bb-history justify-content-center">
                    {% for event in project.history.all %}
                        <div class="">
                            <div class="bb-timeline mx-auto bb-history-{{ event.history_type }}">{{ event.history_type }}

                            </div>
                            <div class="pt-3 px-5 bb-timeline-bottom">{{ event.history_change_reason }}</div>
                        </div>
                    {% endfor %}
                </div>

            </div>

        </div>
    </div>
{% endblock %}