

{% extends "invmanager/layout.html" %}

{% block content %}
    <div class="container">
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 d-flex p-3 bb-orange ">
                <div class="justify-content-left col-2">
                    <h3>New project</h3>

                </div>
                <div class="media align-items-end ">

                    <div class="media-body mb-5">

                        <form action="{% url 'create_project' %}" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                {% csrf_token %}
                                {{ form.media }}
                                {{ form }}
                            </div>

                            <input type="submit" class="btn btn-secondary" value="Submit">
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
{% endblock %}