<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title|default:'Beunbuddy' }}</title>
    {# Load the tag library #}
    {% load bootstrap4 %}

    {% load static %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" type="text/css" href="{% static 'invmanager/style.css' %}">
    <script src="{% static 'invmanager/custom.js' %}"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'invmanager/ico/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'invmanager/ico/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'invmanager/ico/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'invmanager/ico/site.webmanifest' %}">

</head>
<body class="{% if hide_bg %}bb-background{% else %}bg-white{% endif %}">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'invmanager/img/bb_orange_simple_logo.svg' %}"
                                                          height="40px"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% with request.resolver_match.url_name as url_name %}
                <li class="nav-item {% if url_name == 'index' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown {% if url_name in 'projectlist,assetlist,notelist' %}active{% endif %}">
                        <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Types
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'projectlist' %}">Projects</a>
                            <a class="dropdown-item" href="{% url 'assetlist' %}">Assets</a>
                            <a class="dropdown-item" href="{% url 'notelist' %}">Notes</a>
                        </div>

                    </li>
                {% endif %}
                {% if search == True %}
                    <form id="searchbar" class="form-inline"
                          onsubmit="filter_input(document.getElementById('filter').value)">
                        <input id="filter" class="form-control mr-sm-2" type="search" placeholder="Filter"
                               aria-label="Search"
                               onchange="filter_input(document.getElementById('filter').value)">
                    </form>
                {% endif %}
            {% endwith %}

        </ul>


    </div>

    <div class="collapse navbar-collapse order-3 bb-note-text" id="navbar_right">
        <ul class="navbar-nav ml-auto bb-note-color ">
            {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link bb-user-link"
                                        href="{% url 'profile' %}">{{ user.get_username|capfirst }}</a>
                </li>
                <li class="nav-item"><a class="nav-link bb-user-link" href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item"><a class="nav-link bb-user-link" href="{% url 'login' %}?next={{ request.path }}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

{% block subnav %}
{% endblock %}

<div class="row m-0">
    <div id="message_box" class="container p-1">
        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}
    </div>
</div>

<div class="min-vh-100">
    {% block content %}
    {% endblock %}
</div>
<footer class="wrap bg-dark text-center text-white">

    <div class="text-center p-3 mt-3">
        © 2021 Copyright:
        <a class="text-white" href="https://jellehamoen.nl">Jelle Hamoen</a>
    </div>
</footer>
</body>
</html>