<div class="col-md-{{ asset.tile_width|add:2|default:"4" }} col-lg-{{ asset.tile_width|default:"2" }} p-1">
    <div class="bb-card bb-purple p-3 d-flex flex-column">
        <h3 style="max-height: 36px; overflow: hidden"><a href="{% url 'asset' asset.id %}"
               style="color: #212529;">{{ asset.title|title }}</a></h3>
        <p class="m-0" style="max-height: 48px; overflow: hidden"><b>Status:</b> {{ asset.status|default:'none' }}
        </p>
        {% if asset.tags %}
            <div class="text-truncate bb-tags mt-auto">
            {% for tag in asset.tags %}
                <a href="{% url 'tag' tag %}" class="btn btn-outline-dark" role="button">{{ tag }}</a>
            {% endfor %}
            </div>
        {% else %}
            <a id="noTagsAdded" href="{% url 'edit_asset' asset.id %}" class="btn btn-secondary" role="button">Add tags...</a>
        {% endif %}
    </div>
</div>