<div class="col-md-{{ note.tile_width|add:2|default:"4" }} col-lg-{{ note.tile_width|default:"4" }} p-1">
    <div class="bb-note d-flex p-3">
        <div class="justify-content-left d-flex flex-column">
            <h3><a href="{% url 'note' note.id %}"
                   style="color: #212529">{% firstof note.project note.item note.tool 'Untitled'|title %}</a></h3>
            <p><b>Status:</b> {{ note.status|default:'none' }} </p>
            <div class="mt-auto">
                {% if note.tags %}
                    <div class="text-truncate bb-tags">
                        {% for tag in note.tags %}
                            <a href="{% url 'tag' tag %}" class="btn btn-outline-dark" role="button">{{ tag }}</a>
                        {% endfor %}
                    </div>
                {% else %}
                    <a id="noTagsAdded" href="{% url 'edit_note' note.id %}" class="btn btn-secondary" role="button">Add
                        tags...</a>
                {% endif %}
            </div>
        </div>
        <div class="mr-auto ml-4 bb-note-text-small">
            {{ note.note_text|safe }}
        </div>


    </div>
</div>