<div class="col-md-{{ project.tile_width|default:"4" }} p-1">
    <div class="bb-card bb-orange d-flex flex-nowrap p-3">
        <div class="mr-auto d-flex flex-column">
            <div>
                <h3 style="max-height: 36px; overflow: hidden"><a href="{% url 'project' project.id %}"
                                                                  style="color: #212529; ">{{ project.project_title|title }}</a>
                </h3>
            </div>
            <div class="mb-0" style="max-height: 48px; overflow: hidden">
                {{ project.project_description|safe }}
            </div>
            <div class="mt-auto">
                {% if project.tags %}
                    <div class="text-truncate bb-tags">
                        {% for tag in project.tags %}
                            <a href="{% url 'tag' tag %}" class="btn btn-outline-dark" role="button">{{ tag }}</a>
                        {% endfor %}
                    </div>
                {% else %}
                    <a id="noTagsAdded" href="{% url 'edit_project' project.id %}" class="btn btn-secondary"
                       role="button">Add
                        tags...</a>
                {% endif %}
            </div>
        </div>
        <div class="justify-content-end d-md-none d-lg-block    ">
            <a href="{% url 'project' project.id %}">
                <img class="bb-img-round rounded" alt="project-thumbnail"
                     src="{{ project.img_url }}"
                     width="128"/>
            </a>
        </div>
    </div>
</div>