:root {
    --bb-red: #6635DB;
    --bb-green: #1FDB35;
    --bb-purple: #C5AEFE;
    --bb-orange: #DB7209;
    --bb-note: #fbe364;
}

/*BODY*/

.bb-background {
    background: white url("img/background.svg") no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.bb-background-dark {
    background: black url("img/background.svg") no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

/*COLORS*/

.bb-orange {
    background-color: var(--bb-orange);
}

.bb-green {
    background-color: var(--bb-green);
}

.bb-purple {
    background-color: var(--bb-purple);
}

.bb-red {
    background-color: var(--bb-red);
}

.bb-darken {
    filter: brightness(90%);
}

/*LAYOUT*/
.bb-user-link {
    color: #212529 !important;
}

.bb-user-link:hover {
    color: #776977 !important;
}

/*TILES*/

.bb-card {
    border-radius: 1rem;
    height: 165px;
    color: #1b1b1b;
    box-shadow: 0px 3px 6px #00000073;
}

.bb-note {
    height: 165px;
    color: #1b1b1b;
    box-shadow: 0px 3px 6px #00000073;
    background-color: var(--bb-note);
    overflow: hidden;
}

.bb-note-color {
    background-color: var(--bb-note);
}

.bb-note-large {
    width: 100%;
    color: #1b1b1b;
    box-shadow: 0px 3px 6px #00000073;
    background-color: var(--bb-note);
    font-size: larger;
}

.bb-note-text {
    font-family: Segoe Print, serif;
    font-size: larger;
}

.bb-note-text-small {
    font-family: Segoe Print, serif;
    font-size: small;
    max-height: 136px;
    overflow: hidden;
}

.bb-tags {
    max-width: 150px
}

.bb-timeline {
    padding: 5px;
    border: black 1px;
    width: 32px;
    height: 32px;
    text-align: center;

}

.bb-timeline-bottom {
    border-top: solid #212529;
}

.bb-history-\+ {
    background-color: var(--bb-orange);
}

.bb-history-\~ {
    background-color: var(--bb-green);
}

/*INDEX*/
#hero {
    background-image: url("img/bg-index.jpg");
    background-attachment: fixed;
    background-size: cover;
}

#hero:before {
    content: "";
    position: absolute;
}

.bb-tile-highlight {
    background-color: var(--bb-purple);
    border-radius: 4px;
    padding: 40px 30px;
    box-shadow: 0px 3px 6px #00000073;

}

.bb-tile-secondary {
    background-color: var(--bb-note);
    border-radius: 8px;
    padding: 30px 20px;
    box-shadow: 0px 3px 6px #00000073;
}