{% extends 'invmanager/layout.html' %}

{% block content %}
    {% load static %}
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center" style="margin-bottom: -150px;
    height: 70vh; z-index: 1; margin-top: -20px">
        <div class="container text-white">
            <h1>Welcome to Beunbuddy!</h1>
            <h2>Your Project, Resource, and Bulletin buddy</h2>
            <div class="d-flex align-items-center">
                <i class="bx bxs-right-arrow-alt get-started-icon"></i>
                <a href="#getStarted" class="btn btn-success">Get Started</a>
            </div>
        </div>
    </section>
    <div class="m-5 p-3">
        <section style="z-index: 3; position: relative; display: block">
            <div class="row">
                <div class="col-xl-4 col-lg-5">
                    <div class="bb-tile-highlight">
                        <h1>What is Beunbuddy?</h1>
                        <p>
                            <i>Beunen, verb, to create without being impeded by overt intelligence</i>. Beunbuddy is
                            your
                            buddy to
                            clear your mind from your workshop distractions, and keep an easy overview of both your
                            maker
                            space and
                            your head space, allowing you to make stuff to your heart's content.
                        </p>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-7 d-flex">
                    <div class="d-flex flex-column justify-content-center">
                        <div class="row ">
                            <div class="col-xl-4 d-flex align-items-stretch ">
                                <div class="icon-box mt-4 mt-xl-0 bb-tile-secondary">
                                    {#                                    ICON #}
                                    <div class="text-center">
                                        <img src="{% static 'invmanager/img/project-work.svg' %}" height="96px"
                                             alt="project-icon" style="filter:">
                                    </div>
                                    <div class="mt-3 text-center">
                                        <h2>Projects</h2>
                                        <p>Track your projects and ideas, so you don't forget about them! Everything
                                            associated with your project in one place.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="mt-4 mt-xl-0 bb-tile-secondary">
                                    <div class="text-center">
                                        <img src="{% static 'invmanager/img/shelf-shelves.svg' %}" height="96px"
                                             alt="asset-icon" class="align-self-center">
                                    </div>
                                    <div class="mt-3 text-center">
                                        <h2>Assets</h2>
                                        <p>Track your parts, tools, and assets, so you can always remember where you
                                            left
                                            that one thing you need for your project.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 d-flex align-items-stretch">
                                <div class="icon-box mt-4 mt-xl-0 bb-tile-secondary">
                                    <div class="text-center">
                                        <img src="{% static 'invmanager/img/sticky-note-line.svg' %}" height="96px"
                                             alt="note-icon">
                                    </div>
                                    <div class="mt-3 text-center">
                                        <h2>Notes</h2>
                                        <p>Tired of walking to your sticky note wall/notepad and keep on missing
                                            important
                                            ideas? Put them into a note in Beunbuddy!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div id="getStarted" class="container">
        <div class="row">
            <h1>Get started!</h1>
        </div>
        <div class="row">
            <p>Currently, Beunbuddy is in a pre-alpha state, and such only works with an invite. Do you want an invite?
                TODO link to invite page and explainer etc.</p>
            <p><s>Click <a class="disabled" href="{% url 'signup' %}">here</a> to get started</s></p>
        </div>


    </div>
    <div id="about" class="jumbotron">
        <div class="container">
            <div class="row">
                <h1>About</h1>
            </div>
            <div class="row">
                <p>This project is created with pleasure, if you find it useful please consider a donation! :)</p>
            </div>

        </div>
    </div>
    <div id="futurePlans" class="container">
        <div class="row">
            <h1>Features planned for the future</h1>
        </div>
        <div class="row">
            <p>Currently, Beunbuddy is in a pre-alpha state, but there is more planned for the future. These features
                are planned to be implemented, or under consideration. You can see this plan as a rough guide to the
                future of Beunbuddy, as such thing may change in the future. Don't see the items listed below as a
                definitive fact or expectation!</p>
            <dl class="row">
                <dt class="col-sm-3">File storage</dt>
                <dd class="col-sm-9">Have your files on hand with your project, ideal for things like data sheets,
                    drawing, cad files etc. May be realised with some sort of cloud storage coupling
                </dd>
                <dt class="col-sm-3">Showcasing</dt>
                <dd class="col-sm-9">Showcase your project or profile! Currently, Beunbuddy is just for individual
                    users, but may provide showcasing features in the future.
                </dd>
                <dt class="col-sm-3">Workspaces</dt>
                <dd class="col-sm-9">A description list is perfect for defining terms.</dd>
                <dt class="col-sm-3">Drawing pads</dt>
                <dd class="col-sm-9">Like doodling better, but hate paper? Add drawings to your dashboard!</dd>
                <dt class="col-sm-3">Project, tool and part recommendation</dt>
                <dd class="col-sm-9">Have a number of assets, and no idea what to make? Or need inspiration for
                    achieving you project? Beunbuddy could recommend projects or assets in the future
                </dd>
            </dl>
        </div>


    </div>


{% endblock %}