{% extends 'invmanager/layout.html' %}

{% block content %}
    <div class="container">
        <div class="row">


            <div class="bb-note-large d-flex p-3">
                <div class="justify-content-left col-4">
                    <h3><a href="{% url 'note' note.id %}"
                           style="color: #212529">{% firstof note.project note.item note.tool 'Untitled' %}</a></h3>
                    <p>Status: {{ note.status|default:'none' }} </p>

                    {% if note.tags %}
                        <div class="flex flex-wrap">
                            {% for tag in note.tags %}
                                <a href="{% url 'tag' tag %}" class="btn btn-outline-dark" role="button">{{ tag }}</a>
                            {% endfor %}
                        </div>
                    {% else %}

                        <a id="noTagsAdded" href="{% url 'edit_note' note.id %}" class="btn btn-secondary"
                           role="button">Add tags...</a>

                    {% endif %}
                    <div class="mt-2">
                        <a href="{% url 'edit_note' note.id %}" class="btn btn-dark btn-sm btn-block">Edit</a>
                    </div>
                </div>
                <div class="mr-auto ml-4 bb-note-text">
                    {{ note.note_text|safe }}
                </div>
                <div class="justify-content-right">
                    <form action="{% url 'delete_note' note.id %}" method="POST"
                          onsubmit="return confirm('Are you sure you want to delete this note?');">
                        {% csrf_token %}
                        <button type="submit" class="close" aria-label="Close note"><span
                                aria-hidden="true">&times;</span>
                        </button>
                    </form>
                </div>

            </div>


        </div>

    </div>
{% endblock %}