{% extends "invmanager/layout.html" %}

{% block content %}
    <div class="container">
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 p-3 pb-4 bg-dark">
                <div class="media align-items-end profile-header">
                    <div class="profile mr-3"><img
                            src="{{ user.userprofile.img_url }}" alt="..."
                            width="256" class="rounded mb-2 img-thumbnail"><a href="{% url 'edit_profile' %}"
                                                                              class=" btn btn-secondary btn-sm btn-block">Edit
                        profile</a></div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0  mb-0">{{ user.username|title }}</h4>
                        <p>Joined: {{ user.date_joined }}</p>
                    </div>
                </div>
            </div>


            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Settings</h5>
                </div>
                <div>
                    <h6>Username</h6>
                    <p>{{ user.username }}</p>
                    <h6>Name</h6>
                    <p>{{ user.first_name }} {{ user.last_name }}</p>
                    <h6>Email</h6>
                    <p>{{ user.email }}</p>
                </div>
                <div>
                    <h6>Website</h6>
                    <a href="{{ user.userprofile.website }}">{{ user.userprofile.website }}</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}