{% extends "invmanager/layout.html" %}

{% block content %}
    <div class="container">
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 p-3 d-flex w-100 bb-orange ">
                <div class="media align-items-end mr-auto">
                    <div class="profile mr-3"><img
                            src="{{ project.img_url }}" alt="..."
                            width="256" class="rounded mb-2 img-thumbnail"><a href="{% url 'edit_project' project.id %}"
                                                                              class="btn btn-dark btn-sm btn-block">Edit
                        project</a></div>
                    <div class="media-body mb-5 ">
                        <h1>{{ project.project_title }}</h1>
                        {#                    TODO colour and badges#}
                        <h6>Status</h6>
                        <p>{{ project.status }}</p>

                        <h6>Tags:</h6>
                        <div>
                            {% if project.tags %}
                                {% for tag in project.tags %}
                                    <a href="{% url 'tag' tag %}" class="btn btn-outline-dark"
                                       role="button">{{ tag }}</a>
                                {% endfor %}
                            {% else %}
                                <a id="noTagsAdded" href="{% url 'edit_project' project.id %}" class="btn btn-secondary"
                                   role="button">Add
                                    tags...</a>
                            {% endif %}
                        </div>
                    </div>

                </div>
                <div class="justify-content-end">
                    <form action="{% url 'delete_project' project.id %}" method="POST"
                          onsubmit="return confirm('Are you sure you want to delete this project?');">
                        {% csrf_token %}
                        <button type="submit" class="close" aria-label="Close note"><span
                                aria-hidden="true">&times;</span>
                        </button>
                    </form>
                </div>
            </div>

            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Activity</h5>
                </div>
                <div class="row d-flex flex-row px-4 bb-history justify-content-center">
                    {% for event in project.history.all %}
                        <div class="">
                            <div class="bb-timeline mx-auto bb-history-{{ event.history_type }}">{{ event.history_type }}

                            </div>
                            <div class="pt-3 px-5 bb-timeline-bottom">{{ event.history_change_reason }}</div>
                        </div>
                    {% endfor %}
                </div>


            </div>
            <div class="py-4 px-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Connected assets and notes</h5>
                </div>
                <div>
                    {% if tiles %}

                        {% for item, type in tiles %}
                            {% if type == 'Asset' %}
                                {% include 'invmanager/tiles/asset.html' with asset=item %}
                            {% elif type == 'InventoryNote' %}
                                {% include 'invmanager/tiles/note.html' with note=item %}
                            {% endif %}
                        {% endfor %}

                    {% else %}
                        <p>No items are available.</p>
                    {% endif %}
                </div>
                <div>
                    <h5>Description</h5>
                    <p>{{ project.project_description|safe }}</p>
                </div>
            </div>

        </div>
    </div>
{% endblock %}